html {
	margin: 0;
	padding: 0;
	
	width: 100%;
	height: 100%;
	
	-webkit-text-size-adjust: 100%;
	-ms-touch-action: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	
	font-family: helvetica;
	font-size: 10pt;
}

.square {
	/*outline: 10px solid transparent;*/
	/*box-shadow: 0 0 5px rgba(0,0,0,0);*/
	will-change: transform;
	/*-webkit-backface-visibility: hidden;*/
}